<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript">
		</script>
		<style type="text/css">
			a{
				margin-right: 12px;
			}
		</style>
	</head>
	<body style="min-width:1200px;padding: 0px;margin: 0;background-color: lavenderblush;">
		<div id="header" style="width: 100%;margin: 0px;padding: 0px;height: 40px;border: solid 0px red;background-color: white; ">
			<div style="width: 90%;border: solid 0px red;margin-left: 5%;padding: 6px;" align="left">
				<a>首页</a><a>首页</a><a>首页</a><a>首页</a><a>首页</a><a>首页</a><a>首页</a><a>首页</a>
                <a href="/login.do">
                    {% if session.get('user')==None %}
                       登录
                    {% else  %}
                        {{session.get('user')}}
                    {% endif %}

                </a>
			</div>
		</div>
		<div id='main' style="width: 90%;border: solid 0px red;margin-left: 5%;" align="center">
			<div id='left' style="min-height:800px;background-color: white;width: 14%;float:left;border: solid 0px red;margin: 4px;">
				<ul>
					<li><a href="table_lianliankan.html" target="innerFrame">人工智能</a></li>
					<li>人工智能</li>
					<li>人工智能</li>
					<li>人工智能</li>
					<li>人工智能</li>
					<li>人工智能</li>
					<li>人工智能</li>
					<li>人工智能</li>
					<li>人工智能</li>
					<li>人工智能</li>
					<li>人工智能</li>
					<li>人工智能</li>

				</ul>
			</div>
			<div id='middle' style="min-height:800px;background-color: white;width: 60%;float:left;border: solid 0px red;margin: 4px;">
				<div style="width: 100%;">
					a
					<!--
					<iframe border="0" scrolling="no" width="100%" height="800px" name="innerFrame" src="html_form.html"></iframe>
					-->
				</div>
			</div>
			<div id='right' style="min-height:800px;background-color: white;width: 24%;float:right;border: solid 0px red;margin: 4px;">
				<div style="width: 100%;">aaaa</div>
			</div>
		</div>
		<div style="background-color: #FF0000;position: fixed;left: 8px;top:200px;height: 400px;">
			左广告
		</div>
		<div style="background-color: #FF0000;position: fixed;right: 8px;top:200px;height: 400px;">
			右广告
		</div>
	</body>
</html>

