{% extends "base.html" %} 
{% block title %}mysql accounts{% endblock %}
{% block head %}
    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .table-container {
            margin: 0 auto;
            padding: 30px 25px 15px;
            min-width: 336px;
            display: flex;
            flex-direction: column;
        }

        .account-error {
            font-size: 87.5%;
            color: #cd201f;
            justify-content: center;
        }
    </style>
{% endblock %}
{% block content %}
<div>
    <div class="table-container">
        <a href="{{ url_for('add_mysql_account') }}">to add mysql account</a>
        {% if error %}
        <div class="account-error">{{ error }}</div>
        {% else %}
        <div style="margin-top: 20px">mysql accounts:</div>
        <table>
            {% if accounts %}
                <thead>
                    <tr>
                        <th>host</th>
                        <th>user</th>
                        <th>password</th>
                        <th>port</th>
                        <th>db_name</th>
                        <th>owner</th>
                    </tr>
                </thead>
                {% for account in accounts %}
                <tr>
                    <td >{{ account.host }}</td>
                    <td >{{ account.user }}</td>
                    <td >{{ account.password }}</td>
                    <td >{{ account.port }}</td>
                    <td >{{ account.db_name }}</td>
                    <td >{{ account.owner }}</td>
                    <td ><a href="{{ url_for('mysql_query', account_id=account.id) }}">to query</a></td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
     {{ render_bundle('runtime') | safe }}
     {{ render_bundle('app') | safe }}
{% endblock %}
