{% extends "base.html" %} 
{% block title %}sync jobs{% endblock %}
{% block content %}
  <div id="root"></div>
  <script type="text/javascript">
    window.app = {};
    window.app = {
      config : {
        message: '{{ message }}',
        {% if syncer_jobs | length > 0 %}
        syncerJobs: {{ syncer_jobs | safe }}
        {% endif %}
      }
    };
  </script>
{% endblock %} 
{% block scripts %}
     {{ render_bundle('runtime') | safe }}
     {{ render_bundle('app') | safe }}
{% endblock %}
